
doctype html
html
  
    head
        title Contact List
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css')
    body
        if !hide_login
            if user 
                span Logged in User: 
                b #{user.username}  
                a(href='/logout' class="btn btn-primary" style='margin-left:85%' ) Sign out
            else
                a(href='/login' class="btn btn-primary" style='margin-left:85%' ) Sign in
        
block content